<form method="POST" action="/product/store">
    <h3>Thêm sản phẩm</h3>

    <div class="form-group mt-4">
        <label for="name">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="des">Mô tả sản phẩm</label>
        <textarea class="form-control" id="des" name="des"></textarea>
    </div>
    <div class="form-group">
        <label for="img">Link ảnh</label>
        <input type="text" class="form-control" id="img" name="img">
    </div>
    <div class="form-group">
        <label for="brand">Hãng</label>
        <input type="text" class="form-control" id="brand" name="brand">
    </div>
    <div class="form-group">
        <label for="cPrice">Giá mới</label>
        <input type="text" class="form-control" id="cPrice" name="cPrice">
    </div>
    <div class="form-group">
        <label for="oPrice">Giá cũ</label>
        <input type="text" class="form-control" id="oPrice" name="oPrice">
    </div>
    <div class="form-group">
        <label for="origin">Nước sản xuất</label>
        <input type="text" class="form-control" id="origin" name="origin">
    </div>
    <div class="form-group">
        <label for="remaining">Số lượng</label>
        <input type="text" class="form-control" id="remaining" name="remaining">
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    
</form>